<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>ArtherixAI</string>

    <key>CFBundleIdentifier</key>
    <string>com.artherix.ai</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
</dict>
</plist>
